body{
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
p {
    font-weight: lighter;
}

h1, h2 {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;

    display: flex;
    justify-content: center;
}

.hero-container {
    width: 70%;
}

.header-banner {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    margin: 0;
}

.header-links li{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: lighter;
    color: #E5E7EB;
    list-style-type: none;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.hero-content {
    margin: 100px 0;

    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-text {
    width: 200;
}

.sign-up-button {
    padding: 8px 24px;
    border-radius: 8px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-content img {
    width: 420px;
    height: 200px;
}

.hero-container ul{
    padding: 0;

    display: flex;
    align-items: center;
    gap: 16px;
}

.info-section {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info-cards {
    display: flex;
    gap: 30px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 144px;

    font-size: 12px;
    text-align: center;
}

.info-card img {
    height: 144px;
    width: 100%;

    border-radius: 12px;
    border-color: #3882F6;
    border-width: 2px;
}

.quote-section {
    background: #E5E7EB;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-block {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

.call-to-action-section {
    padding: 100px 0;

    display: flex;
    justify-content: center;
}

.call-to-action-border {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 40px 84px;
    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 84%;
}

.call-to-action-content h3,
.call-to-action-content p {
    margin: 0;
    color: #E5E7EB;
}

.call-to-action-content p {
    font-size: smaller;
}

.call-to-action-button {
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 12px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px 0;

    display: flex;
    justify-content: center;
}