body{
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
p {
    font-weight: lighter;
}

h1, h2 {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;

    display: flex;
    justify-content: center;
}

.hero-container {
    width: 70%;
}

.header-banner {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    margin: 0;
}

.header-links li{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: lighter;
    color: #E5E7EB;
    list-style-type: none;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.hero-content {
    margin: 100px 0;

    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-text {
    width: 200;
}

.sign-up-button {
    padding: 8px 24px;
    border-radius: 8px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-content img {
    width: 420px;
    height: 200px;
}

.hero-container ul{
    padding: 0;

    display: flex;
    align-items: center;
    gap: 16px;
}